/* For mobile phones: */
[class*="coll-"] {
  width: 100%;
}



@media only screen and (min-width: 600px) {
  /* For tablets: */
  .coll-s-1 {width: 8.33%;}
  .coll-s-2 {width: 16.66%;}
  .coll-s-3 {width: 25%;}
  .coll-s-4 {width: 33.33%;}
  .coll-s-5 {width: 41.66%;}
  .coll-s-6 {width: 50%;}
  .coll-s-7 {width: 58.33%;}
  .coll-s-8 {width: 66.66%;}
  .coll-s-9 {width: 75%;}
  .coll-s-10 {width: 83.33%;}
  .coll-s-11 {width: 91.66%;}
  .coll-s-12 {width: 100%;}





}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .coll-1 {width: 8.33%;}
  .coll-2 {width: 16.66%;}
  .coll-3 {width: 25%;}
  .coll-4 {width: 33.33%;}
  .coll-5 {width: 41.66%;}
  .coll-6 {width: 50%;}
  .coll-7 {width: 58.33%;}
  .coll-8 {width: 66.66%;}
  .coll-9 {width: 75%;}
  .coll-10 {width: 83.33%;}
  .coll-11 {width: 91.66%;}
  .coll-12 {width: 100%;}




}


.container .roww{
display: flex;
width: 100%;
justify-content: center;
flex-wrap: wrap;
}


*{
box-sizing: border-box;
padding:0;
margin: 0;
}

.sec-1{
display: flex;
flex-wrap: wrap;
background:linear-gradient(rgba(0, 0, 255, 0.774),purple);
color: black;
font-size: 20px;
align-items: center;
justify-content: center;
font-family: sans-serif;
text-transform: uppercase;
flex-direction: column;
}


.pic{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
margin-bottom: 20px;
border-radius: 12px;
padding: 10px;
border: 1px solid rgba(0, 0, 0, 0.151);
}

.pic img{
width: 100%;
object-fit: cover;
object-position: center center;
border-radius: 12px ;
}

::-webkit-scrollbar{
width: 30px;
}

::-webkit-scrollbar-button{
height: 20px;
background-color: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb{
border-radius: 60px;
background: linear-gradient(rgb(0, 26, 255), purple);
}

::-webkit-scrollbar-track{
background-color: rgb(255, 160, 255);

}

